{
  "root": true,
  "extends": [
    "./node_modules/eslint-config.xyz/targets/node",
  ],
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "node": true
  },
  "rules": {
  },
  "settings": {
    // Recommended if you use eslint_d
    "import/cache": {
      "lifetime": 5,
    },
  }
}
