{
  "root": true,
  "extends": [
    "@asd14/eslint-config/targets/node",
  ],
  "parserOptions": {
    "ecmaVersion": 9
  },
  "rules": {
  },
  "settings": {
    // Recommended if you use eslint_d
    "import/cache": {
      "lifetime": 5,
    },
  }
}
